DATABASE_URL=postgres://gz:gz@localhost:5432/gz_ads
REDIS_URL=redis://localhost:6379
BIDDER_HOST=0.0.0.0
BIDDER_PORT=8080
API_HOST=0.0.0.0
API_PORT=8081
PUBLIC_HOSTNAME=localhost:8080
LOG_LEVEL=debug
